@font-face {
  font-family: 'Stolzl';
  src: url('/fonts/stolzl_thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Stolzl';
  src: url('/fonts/stolzl_light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Stolzl';
  src: url('/fonts/stolzl_regular.otf') format('opentype');
  font-weight: 400;
}
